.placeholder-page {
    background-color: #0C1A1A;
    text-align: center;
    align-items: center;
    display: grid;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #BFA181;
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #BFA181;
  }