<!-- Banner -->
<section class="banner {{ .style }}">
    <div class="content">
        {{ with .logo }}
        <picture>
            <img src="{{.logo}}" />
        </picture>
        {{end}}
        {{ with .title }}
        <h1>{{ . }}</h1>
        {{ end }} {{ with .subtitle }}
        <p class="major">{{ . | safeHTML }}</p>
        {{ end }} {{ with .content }}
        <p>{{ . | safeHTML }}</p>
        {{ end }} {{ with .button }}
        <ul class="actions stacked">
            <li>
                <a
                    href="{{ .link }}"
                    class="button alternate large wide smooth-scroll-middle"
                    >{{ .label }}</a
                >
            </li>
        </ul>
        {{ end }}
    </div>
    {{ with .image }}
    <div class="image">
        <picture>
            <source media="(min-width: 800px)" srcset="{{.horizontal}}" />
            <source media="(min-width: 480px)" srcset="{{.vertical}}" />
            <img src="{{.vertical}}" />
        </picture>
    </div>
    {{end}}
</section>
