<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            {{ with .Site.Params.social.github }}<li><a target="_blank" href="{{.}}" class="icon brands style1 fa-github"><span class="label">Github</span></a></li>{{end}}
            {{ with .Site.Params.social.twitter }}<li><a target="_blank" href="{{.}}" class="icon brands style1 fa-twitter"><span class="label">Twitter</span></a></li>{{end}}
            {{ with .Site.Params.social.instagram }}<li><a target="_blank" href="{{.}}" class="icon brands style1 fa-instagram"><span class="label">Instagram</span></a></li>{{end}}
            {{ with .Site.Params.social.linkedin }}<li><a target="_blank" href="{{.}}" class="icon brands style1 fa-linkedin"><span class="label">LinkedIn</span></a></li>{{end}}
            {{ with .Site.Params.social.youtube }}<li><a target="_blank" href="{{.}}" class="fav icon brands style1 fa-youtube"><span class="label">YouTube</span></a></li>{{end}}
            {{ with .Site.Params.social.facebook }}<li><a target="_blank" href="{{.}}" class="fav icon brands style1 fa-facebook-f"><span class="label">Facebook</span></a></li>{{end}}
            {{ with .Site.Params.social.email }}<li><a target="_blank" href="mailto:{{.}}" class="fav icon style1 fa-envelope"><span class="label">Email</span></a></li>{{end}}
        </ul>
        <p>Photos by <a href="https://www.lucamigliorephotography.com/" target="_blank">Luca Migliore</a>
        <br/>
        The Cracking Reeds | Made with <span class="fav icon style1 thin fa-heart"></span> by SC.</p>
</div>
</footer>

<!-- FontAwesome JS -->
{{ range .Site.Params.asset.fontawesome_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}