<style>
    .videos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
</style>

<!-- Items -->
<section class="wrapper style1 align-center" id="videos">
    <div class="inner">
        {{ with .title }}
        <h2>{{ . }}</h2>
        {{ end }} {{ with .content }}
        <p>{{ . | safeHTML }}</p>
        {{ end }}
        <div class="videos-container">
            {{ range .videos }} {{ partial "video" . }} {{ end }}
        </div>
    </div>
</section>
